/* .header {
    background-color: grey;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerLogo {
    padding-left: 10px;
    display: flex;
    gap: 7px;
}

.headerLogo {
    font-weight: 650;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.form {
    display: flex;
    align-items: center;
    background: #232f3e;
    padding: 10px;
    border-radius: 5px;
    width: 700px;
    height: 60px;
}
.form label {
    background-color: #e3e6e6;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.button {
    background-color: #febd69;
    border: none;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.basket {
    display: flex;
    align-items: center;
    padding-right: 10px; 
}

.h2Basket {
    font-weight: 550;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    display: flex;
} */

.header {
    background-color: grey;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 650;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    flex-shrink: 0;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; 
    background-color: rgb(161, 168, 175);
    min-width: 350px;
    border-radius: 20px;
    padding: 5px 30px;
    border: 2px solid rgb(86, 90, 93);
}

.products {
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    flex-shrink: 0;
}

.basket {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.h2Basket {
    font-weight: 550;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

@media (min-width: 360px) {
    .headerDiv {
        padding: 5px;
        gap: 5px;
    }

    .headerLogo {
        font-size: 16px;
    }

    .form {
        height: 40px;
        padding: 5px;
    }

    .form label {
        padding: 8px;
        font-size: 10px;
    }

    .form input {
        padding: 5px;
        font-size: 10px;
    }

    .button {
        padding: 0 10px;
    }

    .reviews,
    .h2Basket {
        font-size: 14px;
    }
}

@media (min-width: 760px) {
    .headerDiv {
        flex-wrap: nowrap;
        padding: 10px 20px;
    }

    .form {
        width: 60%;
        margin-top: 0;
        height: 60px;
    }

    .headerLogo,
    .products,
    .reviews,
    .basket {
        font-size: 22px;
    }

    .h2Basket {
        font-size: 22px;
    }

    .form label {
        padding: 15px;
        font-size: 14px;
    }

    .form input {
        padding: 10px;
        font-size: 14px;
    }

    .button {
        padding: 0 20px;
    }
}

@media (min-width: 1440px) {
    .headerDiv {
        padding: 10px 40px;
    }

    .form {
        width: 700px;
        height: 70px;
        padding: 10px;
    }

    .headerLogo,
    .reviews,
    .basket {
        font-size: 25px;
    }

    .h2Basket {
        font-size: 25px;
    }

    .form label {
        padding: 20px;
        font-size: 16px;
    }

    .form input {
        padding: 15px;
        font-size: 16px;
    }

    .button {
        padding: 0 25px;
    }
}